html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.content{
  margin-top: 10%;
  margin-left: 10%;
  position: fixed;
  width: 80%;
  height:100%;
  background-image: linear-gradient(to left, #6ec3f450, #3a3aff50, #ff61ab50, #E6394650);
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: auto;
  padding-bottom: 10rem;
}
.about-heading{
  text-align: center;
  align-content: center;
}
.about-heading .card{
  margin-top: 20px;
  margin-bottom: 20px;
}
.about-heading .card-img{
  height: 100px;
  width: auto;
  margin-bottom: 20px;
}

.site-navbar{
  background-image: linear-gradient(to right, #6ec3f4, #3a3aff, #ff61ab, #E63946);
}

.card{
  margin: 2rem 2rem 2rem 2rem;
  padding: 1rem 1rem 1rem 1rem;
}
.card-text{
  color:black;
  font-family:"Montserrat", sans-serif
}
.content h1, .card-title{
  font-family: "Playfair Display", serif;
}