html, body {
  height: 200%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to left, #6ec3f450, #3a3aff50, #ff61ab50, #E6394650);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.typewriter{
  overflow: hidden;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 1.7s steps(20, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #ff61ab; }
}



.hidden {
  display:none!important;
}


.rect {
    color:white;
    font: 1.3rem Inconsolata, monospace;
    display:flex;
    flex-direction:column;
    text-align: center;
    background-color: black;
    background-image: radial-gradient(
    rgba(0, 0, 200, 0.75), black 120% 
  );
    text-shadow: 0 0 5px #C8C8C8;
   width: 800px;
  height: 550px;
  border-radius: 20px;
  border: 0.2rem solid #0f1bc2;
/*   padding: 0.4em; */
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #849bf5,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #ff85af,
            inset 0 0 1.3rem #ff1438; 
   padding: 25px;
   margin: 25px;
/*    justify-content:center; */
   position: absolute;
   top: 5%;
   left: 50%;
   margin-left: -29%;
      }
.rect:hover{
  cursor: cell;
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg,  #6ec3f4,#3a3aff, #ff61ab, #E63946);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #ff61ab
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 .floating2 { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
@keyframes floating2 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
.triviaButs{
  margin:auto;
 display:flex;
  justify-content:space-around;
}
#trivia{
  color:white;
}
#question{
  color:white;
}
#answer{
  color:white;
}

#leaderboard{
  display:flex;
  flex-direction: column;
  justify-content: center;
/*   text-align:center; */
  width:48%;
  height:650px;
   border: 0.2rem solid #e8bae9;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #8f79dc,
            0 0 .2rem #c690d0,
            0 0 2rem #1430ff,
            0 0 0.8rem #1486ff,
            0 0 2.8rem #14efff,
            inset 0 0 1.3rem #ff145b; 
}
#secondBody{
  width:100%;
}

#leaderboardTitle{
  display:flex;
  align-self:center;
  font-size: 4.2rem;
  margin-top:-5%;
  animation: pulsate 1.5s infinite alternate;  
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe; 

  font-family: "Audiowide", sans-serif;
  
}
.l {
  margin-left:10%;
  font-family: 'Roboto Mono', monospace;
  font-size:35px;
  margin-bottom:20px;

  color: #ffffff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 30px #bc13fe,
    0 0 60px #bc13fe,
    0 0 70px #bc13fe,
    0 0 80px #bc13fe,
    0 0 100px #bc13fe;
}

.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe;
}
#score0{
  margin-top:10%;
}